.favorites {
  width: 300px;
  height: 21px;
  margin-left: 10px;
  margin-top: 31px;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: -0.408px;
  color: #424242;
  &-count {
    color: #1157A7;
  }
}
