.logout {
  display: flex;
  align-items: center;
  position: absolute;
  top: 26px;
  right: 31px;
  position: absolute;
  text-decoration: none;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.408px;
  color: #1157A7;
}
.logout-icon {
  margin-left: 20px;
}
