.vector {
  margin: 0 20px;
}

.icon-arrow {
  margin: 0 12px;
}

.dash {
  width: 9px;
  height: 1px;
  background: #C4C4C4;
  border-radius: 2px;
  margin: 0 10px;
  display: inline-block;
}

.wrap {
  display: flex;
}