.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

//============================= login page
.login-page {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  background-image: url(./assets/images/main.jpg);
  background-repeat: no-repeat;
};

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  opacity: 0.6;
}
// ==================== Form
.form {
  position: absolute;
  left: 50%;
  transform:translate(-50%);
  top: 306px;
  width: 410px;
  height: 338px;
  padding-top: 53px;
  padding-bottom: 37px;
  padding: 53px 32px 37px 33px;;
  background-color: #FFFFFF;
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
}
.form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.form-label {
  display: block;
  margin-bottom: 7px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  &--invalid {
    color: #EB1717;
  }
}
.form-field {
  width: 100%;
  height: 34px;
  border: 1px solid #C9CACC;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  &--invalid {
    border-color:#EB1717;
    color: #EB1717;
  }
}
.invalid-feedback {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #EB1717;
  position: absolute;
  margin-top: 3px;
}
.form-field-container {
  position: relative;
}
.form-login {
  margin-bottom: 25px;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 25px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  width: 116px;
  height: 34px;
  background: linear-gradient(104.34deg, #3C4CAD -15.34%, #00C3FF 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 4px #99A0A3;
  }
}

//====================main
.main-page {
  background-color: #F3F4F5;
  padding: 69px 0 69px;
  font-family: 'San Francisco', sans-serif;
  line-height: 22px;
}
.main-page-content {
  margin: 0 auto;
  max-width: 680px;
  width: 100%;
  height: 895px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 65px 40px 40px;
}
//========================= = = = = =====HEADER
.header {
  display: flex;
  justify-content: space-between;
}

.header-route {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
color: #424242;
}


.date {
  position: relative;
  // width: 230px;
  height: 28px;
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #1157A7;
}
.date-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.date-icon {
  margin-left: 15px;
}
.date-input {
  width: 100%;
  height: 28px;
  opacity: 0;
  position: absolute;
  top: 0;
  &::-webkit-calendar-picker-indicator {
    width: 240px;
    margin: 0;
    cursor: pointer;
  }
}
//================= = = ==  ========= = =  carousel

.carousel {
  width: 100%;
  height: 149px;
  margin-top: 24px;
  div {
    outline: none;
  }
}
.carousel-img {
  width: 164px;
  height: 149px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
}

//==================favorites
.favorites {
  width: 300px;
  height: 21px;
  margin-left: 10px;
  margin-top: 31px;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: -0.408px;
  color: #424242;
  &-count {
    color: #1157A7;
  }
}

//=================flight list
.flights-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 515px + 98px;
  border-right: 2px solid #E7E7E7;
  padding-right: 11px;
}
.flights-list-item {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  &:hover .flight-border{
    opacity: 1;
  }
  &:first-child .flight-info {
    padding-top: 6px;
  }
}
.flight-border {
  position: absolute;
  width: 2px;
  height: 98px;
  right: -12px;
  top: 0px;
  background: #1157A7;
  border-radius: 2px;
  opacity: 0;
}

.flight-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 22px 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: -0.408px;
  color: #424242;
  
}
.flight-icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 119, 255, 0.05);
  border-radius: 50%;
}

.flight-route {
  margin-left: 24px;
  h3 {
    margin: 0;
  }
}
.flight-date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.408px;
  color: #878787;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flight-company {
  flex-basis: 100%;
}
.flight-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: -0.408px;
  color: #424242;
  small {
    font-weight: 300;
    font-size: 11px;
    color: #878787;
    margin-right: 8px;
  }
}
.favorite-icon {
  margin-right: 8px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

//=========icons
.vector {
  margin: 0 20px;
}

.icon-arrow {
  margin: 0 12px;
}

.dash {
  width: 9px;
  height: 1px;
  background: #C4C4C4;
  border-radius: 2px;
  margin: 0 10px;
  display: inline-block;
}

.wrap {
  display: flex;
}

//=========================logout
.logout {
  display: flex;
  align-items: center;
  position: absolute;
  top: 26px;
  right: 31px;
  position: absolute;
  text-decoration: none;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.408px;
  color: #1157A7;
}
.logout-icon {
  margin-left: 20px;
}